# weights
*.pth
*.h5

# macOS
.DS_Store
._*

# VSCode
.vscode/

# Python
__pycache__/

# Temp files
temp/

# For Testing
test.ipynb
inference.py

# Keychain
keychain/

# Config
config.py

# nohup
nohup.out
